{
 margin: 0;
 padding: 0;
 box-sixing:border-box;
}


body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    /* margin-left: 270px; */
    margin-right:60% ;
}

.nav a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
  /* margin-left: 30%; */
}

.nav a:hover, 
.nav a.active{
    background: #359381;
    color: #f9f9f9;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
  position: absolute;
  font-size: 4em;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0,0,0,2);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

}
.sec{
    position: relative;
    background: #003329;
    padding: 100px;
    margin-top: 85px;
    width: 85%;
}

.sec h2{
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
}